<section id="multi-func-bar" ng-class="{top: ctrl.loginService.user}">
  <div class="nav-toggle" ng-if="ctrl.loginService.user" ng-click="ctrl.toggleNav()">
      <span><i class="fa fa-bars fa-1x"></i></span>
  </div>

  <div class="container text-center">
      <img src="assets/images/logo.png" />
  </div>

  <div class="logout" ng-if="ctrl.loginService.user">
      <button type="button" class="btn btn-secondary" ng-click="ctrl.logout()">
      <i class="fas fa-sign-out-alt"></i> Logout</button>
  </div>
</section>