$white: #FFF;
$black: #000;
$lightgrey-1: #f5f5f5;
$lightgrey-2: #ccc;
$lightgrey-3: #ddd;
$darkgrey-1: #999;
$darkgrey-2: #283237;
$darkgrey-3: #36474F;
$lightblue-1: #428bca;
$blue: #428bca;
$green: #28a745;


$break-small: 320px;
$break-medium: 640px;
$break-large: 768px;
$break-extra-large: 1024px;